<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="mx-4 navbar-brand d-inline-flex flex-row justify-content-start align-items-center mb-2 fs-5" href="#">Crocobet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active d-inline-flex flex-row justify-content-start align-items-center mb-2 fs-5">
        <a class="nav-link" routerLink="/">Users</a>
        <a class="nav-link" routerLink="info">Info</a>
        <a class="nav-link" routerLink="posts">Posts</a>
      </li>
    </ul>
  </div>
</nav>
